# .NET
src/api/bin/
src/api/obj/
src/api.tests/bin/
src/api.tests/obj/
*.db
logs*.txt

# Node
src/web/node_modules/
src/web/dist/
*.tsbuildinfo

# Docker / secrets
.env
src/api/uploads/
src/web/.env

# IDE
.vs/
.vscode/
*.user
